
header , #footer{
 background-color: purple;
}
.header-text , #footer{
    color: white;
    text-align: center;
}
.article-title{
font-family: Arial;
}

.article-date{
    color: grey;

}
.article-author , .article-date{
    color: grey;
  
}
