*{
    box-sizing: border-box;
    margin: 0;
}
.nav-logo{
    width:2rem;
    height: 1.5rem;
}
.nav-header{
    width: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding:0.5rem 1rem;
    background: #333;

}
.nav-links{
    display: flex;
    list-style-type: none;
    color: white;
}
.nav-links li{
    margin: 0 10px;
}
.nav-link-blue{
    background-color: cornflowerblue;
    padding: 0.2rem;
    border-radius: 0.5rem;
}